@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  color: #243a6f;
  background-color: #d1e2e9;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 67.2px;
  z-index: 1;
  background-color: #d1e2e9;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
nav .logo a {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  float: left;
  padding: 15px 70px;
  text-decoration: none;
  color: #243a6f;
}
nav ul {
  float: right;
  display: flex;
  list-style: none;
}
nav ul li a {
  padding: 15px;
  text-decoration: none;
  font-weight: 500px;
  color: #243a6f;
}
nav ul li a:hover {
  padding: 10px;
  background-color: #243a6f;
  color: white;
  border-radius: 15px;
}
/* ----------------------------- */
.scrolling-active {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  z-index: 999;
}
.scrolling-active a {
  color: white;
}
.scrolling-active .logo a {
  color: white;
}
.scrolling-active ul a:hover {
  padding: 12px;
  background-color: white;
  color: #243a6f;
  border-radius: 15px;
}
/* ================= */
h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 5rem;
  letter-spacing: 1.5px;
  z-index: 0;
}
.intro {
  column-count: 2;
  padding: 10px 110px 10px 110px;
  font-size: 1.07rem;
  column-rule: 3px solid black;
  column-gap: 40px;
}
.box {
  width: 1100px;
  height: 600px;
  background-color: rgb(247, 245, 245);
  margin-left: 180px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 18px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.text-box {
  padding: 30px 40px 30px 40px;
}
.box img {
  width: 70%;
  position: relative;
  top: 100px;
  left: 90px;
  border-radius: 28px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.box img:hover {
  transform: translateX(1rem);
}
.box {
  display: grid;
  grid-template-columns: 500px 800px;
}
h3 {
  font-size: 2rem;
  font-weight: 5rem;
  letter-spacing: 1.5px;
  z-index: 0;
}
.text-box p {
  line-height: 30px;
}
/* =============== */
.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
ul {
  list-style: none;
}
/* ================================================================== */
.footer {
  background-color: #24262b;
  padding: 40px 60px 20px 130px;
}
/* .footer-col {
    width: 25%;
    padding: 0 15px;
  } */
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  left: 40px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  transform: translateX(1rem);
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
